<!--  Source: https://github.com/Marijnone/shelter/blob/master/view/form.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding a new animal to the shelter</title>
</head>
<body>
    <h1>Add a new fluff</h1>
    <form action="/" method=post>

      <label>Name<input name=name></label>

      <label for="type">Type</label>
        <input type="radio" name="type" value="cat" checked> Cat
        <input type="radio" name="type" value="dog"> Doggo
        <input type="radio" name="type" value="rabbit"> Rabbit

      <label for="place">Current location</label>

        <input type="radio"  name="place" value="Brooklyn Animal Care Center" checked> Brooklyn Animal Center
        <input type="radio"  name="place" value="Manhattan Animal Care Center"> Manhattan Animal Center
        <input type="radio"  name="place" value="Bronx Admissions Center"> Bronx Admissions Center

      <label for="description">Description</label>
        <input type="textarea" name="description">

      <label for="sex">Sex</label>
        <input type="radio" name="sex" value="male" checked> Male
        <input type="radio" name="sex" value="female"> Female

      <label for="age">Age</label>
       <input type="number" name="age">

      <label for="vaccinated">Vaccinated</label>
        <input type="radio" name="vaccinated" value="yes" checked> Yes
        <input type="radio" name="vaccinated" value="no"> No

      <label for="primaryColor">Primary Color</label>
        <input type="text" name="primaryColor">

      <label for="secondaryColor">Secondary Color</label>
        <input  type="text" name="secondaryColor" required  >

      <label for="size">Size</label>
        <label>Small fluff</label>
          <input type="radio" name="size" value="small" checked>
        <label>Medium fluff</label>
          <input type="radio" name="size" value="medium">
        <label>Large fluff</label>
          <input type="radio" name="size" value="large">

      <label for="length">Length</label>
        <label>Short fluff</label>
          <input type="radio" name="length" value="short" checked>
        <label>Medium fluff</label>
          <input type="radio" name="length" value="medium">
        <label>Long fluff</label>
          <input type="radio" name="length" value="long">

      <label for="weight">Weight</label>
        <input type="number" name="weight">

      <label for="intake">Intake Date</label>
        <input  type="date" name="intake">

      <input type="submit" value="send">
    </form>
</body>
<script src="index.js"></script>
</html>
